name: Build bomcheck

on:
  push:
    paths: [src/bomcheck/**, .github/workflows/bomcheck.yml, README.md]
  workflow_dispatch:
    
jobs:
  build:
    strategy:
      matrix:
        os: [linux, windows]
        include:
          - os: linux
            runtime: linux-x64
          - os: windows
            runtime: win10-x64
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 6.0.x
      - name: Build ${{ matrix.os }}
        run: dotnet build src/bomcheck --self-contained -r ${{ matrix.runtime }}
      - name: Publish ${{ matrix.os }}
        run: dotnet publish src/bomcheck/bomcheck.csproj -o out/${{ matrix.os }} -r ${{ matrix.runtime }} --self-contained true -p:PublishSingleFile=true -p:PublishTrimmed=true
      - name: Upload artifacts ${{ matrix.os }}
        uses: actions/upload-artifact@v4.3.3
        with:
          name: bomcheck-${{ matrix.os }}
          path: out/${{ matrix.os }}
          retention-days: 30

  build_and_pack:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 6.0.x
      - name: Pack
        run: dotnet pack src/bomcheck -p:Version=1.0.0.${{github.run_number}} -o out/pack
      - name: Push
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        run: dotnet nuget push out/pack/ofcoursedude.bomcheck.1.0.0.${{github.run_number}}.nupkg -k ${{secrets.NUGET_API_KEY}} -s https://api.nuget.org/v3/index.json
      - name: Publish nupkg
        if: ${{ github.event_name == 'push'}}
        uses: actions/upload-artifact@v4.3.3
        with:
          name: bomcheck-nupkg
          path: out/pack/**
          retention-days: 30
